fastapi
celery===5.2.7
redis
flower
langchain
celery[sqs]
python-multipart
pypdf
python-dotenv
docx2txt
pdfminer
unstructured
pdf2image
torch
torchvision
torchaudio
marqo
transformers
pandas
openpyxl
duckduckgo-search
wikipedia